*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    svg{
        width: 10px;
    }
    img{
        width: 500px;
    }
}

:root{
    --main-color: rgb(124, 58, 237);
}



.navbar-container{
    .navbar{
        .container-lg{
            .navbar-brand{
                font-weight: 700;
                font-size: 24px;
            }
            .collapse{
                .navbar-nav{
                    display: flex;
                    gap: 30px;
                    .nav-item{
                        .nav-link{
                            position: relative;
                            padding: 0 !important;
                        }
                        .nav-link:hover{
                            color: var(--main-color);
                        }
                        .nav-link:hover::after{
                            width: 100%;
                        }
                        .nav-link::after{
                            content: '';
                            width: 0;
                            height: 2px;
                            position: absolute;left: 0; bottom: 0;
                            background-color: var(--main-color);
                            transition: 0.50s;
                        }
                        
                        .nav-link.active{
                            background-color: transparent !important;
                            color: var(--main-color);
                        }
                        
                        .nav-link.active::after{
                            width: 100%;
                        }
                    }
                    .nav-item:nth-child(2){
                        .nav-link::after{
                            content: none !important;
                        }
                        .nav-link::after::after{
                            content: '' !important;
                            width: 0 !important;
                            height: 2px !important;
                            background-color: var(--main-color);
                            position: absolute; bottom: 0; left: 0;
                        }
                        .nav-link:hover::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

