*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    svg{
        width: 10px;
    }
    img{
        width: 100px;
    }
}

:root{
    --main-color: rgb(124, 58, 237);
    --light-main-color:rgb(237, 233, 254);
    --main-orange:rgb(244, 149, 36);
    --main-green:rgb(0, 166, 62);
    --light-main-green:rgb(219, 252, 231);
}



.navbar-container{
    background-color: white;
    position: relative;
    z-index: 10;
    .navbar{
        .container-lg{
            .navbar-brand{
                font-weight: 700;
                font-size: 24px;
            }
            .collapse{
                .navbar-nav{
                    display: flex;
                    gap: 30px;
                    .nav-item{
                        .nav-link{
                            position: relative;
                            padding: 0 !important;
                        }
                        .nav-link:hover{
                            color: var(--main-color);
                        }
                        .nav-link:hover::after{
                            width: 100%;
                        }
                        .nav-link::after{
                            content: '';
                            width: 0;
                            height: 2px;
                            position: absolute;left: 0; bottom: -10px;
                            background-color: var(--main-color);
                            transition: 0.50s;
                        }
                        
                        .nav-link.active{
                            background-color: transparent !important;
                            color: var(--main-color);
                            font-weight: 700;
                        }
                        
                        .nav-link.active::after{
                            width: 100%;
                        }
                    }
                    .nav-item:nth-child(2){
                        position: relative;
                        .nav-link::after{
                            content: none !important;
                        }
                        .nav-link::before{
                            content: '' !important;
                            width: 0 !important;
                            height: 2px !important;
                            background-color: var(--main-color);
                            position: absolute; bottom: -10px; left: 0;
                            transition: 0.50s;
                        }
                        .nav-link:hover::before{
                            width: 100% !important;
                        }
                        .nav-link.show{
                            color: var(--main-color);
                            font-weight: 700;
                        }
                        .nav-link.show::before{
                            width: 100% !important;
                        }
                        .dropdown-menu{
                            width: 1250px;
                            position: absolute; left: -900px; top: 40px;
                            border: none;
                            height: fit-content;
                            .inner-dropdown-menu{
                                width: 100%;
                                height: 100%;
                                li:first-child{
                                    width: 25%;
                                    .main-columns{
                                        .property-box:hover{
                                            cursor: pointer;
                                        }
                                    }
                                    img{
                                    width: 70px;
                                    height: 60px;
                                }
                                }
                                li:nth-child(2){
                                    width: 25%;
                                    .main-columns{
                                        div{
                                            align-items: center;
                                            p{
                                                margin: 0;
                                            }
                                            svg{
                                                width: 20px;
                                                color: gray;
                                            }
                                        }
                                        div:hover{
                                            cursor: pointer;
                                        }
                                        div:hover .p-links{
                                            color: var(--main-color);
                                        }
                                    }
                                }
                                li:nth-child(3){
                                    width: 25%;
                                    .main-columns{
                                        .cities-boxes{
                                            color: aliceblue;
                                            width: 250px;
                                            height: 70px;
                                            background-position: center;
                                            background-size: cover;
                                            padding-top: 1px;
                                            border-radius: 15px;
                                            .background-color{
                                                width: 100%;
                                                height: 100%;
                                                background-color: rgba(124, 58, 237, 0.6);
                                                margin: 0;
                                                padding-top: 1px;
                                                border-radius: 15px;
                                            }
                                            h4{
                                                margin: 0;
                                                margin-top: 10px;
                                                margin-left: 10px;
                                                font-size: 20px;
                                                font-weight: 700;
                                            }
                                            p{
                                                margin: 0;
                                                margin-top: 2px;
                                                margin-left: 10px;
                                                font-size: 14px;
                                            }
                                        }
                                        .cities-boxes:nth-child(2){
                                            background-image: url(/Images/new-york.jpeg);
                                        }
                                        .cities-boxes:nth-child(3){
                                            background-image: url(/Images/los-angeles.jpeg);
                                        }
                                        .cities-boxes:nth-child(4){
                                            background-image: url(/Images/miami.jpeg);
                                        }
                                        .cities-boxes:hover{
                                            cursor: pointer;
                                        }
                                        .cities-boxes:hover .background-color{
                                                                                    background-color: rgba(164, 112, 255, 0.7);
                                        }
                                    }
                                }
                                li:nth-child(4){
                                    width: 25%;
                                    .resources-boxes{
                                        width: 100%;
                                        border: 1px solid lightgray;
                                        border-radius: 15px;
                                        padding: 25px;
                                        .icon-title{
                                            align-items: center;
                                            .icon{
                                                padding: 10px;
                                                background-color: gray;
                                                border-radius: 50%;
                                                svg{
                                                    width: 20px;
                                                }
                                            }
                                        }
                                        a{
                                            text-decoration: none;
                                            color: black;
                                            svg{
                                                width: 14px;
                                                margin-left: 5px;
                                                transition: 0.25s;
                                            }
                                        }
                                    }
                                    .resources-boxes:hover{
                                        cursor: pointer;
                                    }
                                    .resources-boxes:hover .learn-more{
                                        svg{
                                            transform: translate(5px, 0);
                                        }
                                    }
                                    .resources-boxes:nth-child(2), .resources-boxes:nth-child(4){
                                        .icon-title{
                                            .icon{
                                                background-color: var(--light-main-color);
                                                svg{
                                                    color: var(--main-color) !important;
                                                }
                                            }
                                        }
                                        a{
                                            color: var(--main-color);
                                            svg{
                                                color: var(--main-color);
                                            }
                                        }
                                    }
                                    .resources-boxes:nth-child(2):hover .icon-title>h5, .resources-boxes:nth-child(4):hover .icon-title>h5{
                                        color: var(--main-color);
                                    }
                                    .resources-boxes:nth-child(3){
                                        .icon-title{
                                            .icon{
                                                background-color: var(--light-main-green);
                                                svg{
                                                    color: var(--main-green) !important;
                                                }
                                            }
                                        }
                                        a{
                                            color: var(--main-green);
                                            svg{
                                                color: var(--main-green);
                                            }
                                        }
                                    }
                                    .resources-boxes:nth-child(3):hover .icon-title>h5{
                                        color: var(--main-green);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-background{
    background-image: url(/Images/hero-bg-img.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}


.home{
    padding-top: 200px;
    background-color: rgba(77, 30, 156, 0.7);
    height: 100vh;
    position: relative;
    z-index: 3;
    .title-box{
        width: 40%;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
            font-family: sans-serif;
            font-weight: 700;
            font-size: 60px;
        }
        p{
            font-size: 22px;
        }
    }
    .requirement-box{
        background-color: white;
        width: 50%;
        padding: 20px;
        border-radius: 15px;
        row-gap: 20px;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .normal-inp-box:first-child{
            div{
                width: 100%;
                position: relative;
                svg{
                    position: absolute;left: 15px;top: 16px;
                    width: 15px;
                    color: gray;
                }
                input{
                    width: 100%;
                    padding: 15px 50px;
                    border: 1px solid lightgray;
                    border-radius: 15px;
                }
            }
        }
        .normal-inp-box{
                input{
                    width: 100%;
                    padding: 15px;
                    border: 1px solid lightgray;
                    border-radius: 15px;
                    &:focus{
                        outline: 4px var(--main-color);
                        outline-style: double;
                    }
                }
        }
        .select-box{
            select{
                padding: 15px;
                background-image: none;
                border-radius: 15px;
                    &:focus{
                        outline: 4px var(--main-color);
                        outline-style: double;
                    }
            }
        }
        .search-btn{
            background-color: var(--main-color) !important;
            color: aliceblue;
            font-size: 18px;
            font-weight: 700;
            padding: 15px;
            svg{
                width: 20px;
            }
            &:hover{
                background-color: rgb(105, 57, 187) !important;
            }
        }
    }

}


.featured-properties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-box{
        .premium-collection{
            color: var(--main-color);
            .line{
                height: 3px;
                width: 80px;
            }
            .line:first-child{
                border-radius: 100% 0 0 100%;
                background: linear-gradient(to left, var(--main-color), var(--main-color), var(--main-orange), white);
            }
            .line:nth-child(3){
                border-radius: 0 100% 100% 0;
                background: linear-gradient(to right, var(--main-color), var(--main-color), var(--main-orange), white);
            }
            .title{
                font-size: 20px;
                padding: 10px 25px;
                border-radius: 25px;
                font-size: 15px;
                font-weight: 700;
                border: 1px solid lightgray;
                background-color: var(--light-main-color);
            }
        }
        h1{
            font-size: 50px;
            font-weight: 900;
            background: linear-gradient(to right, var(--main-color), var(--main-color), var(--main-orange));
            background-clip: text;
            color: transparent;
        }
        p{
            width: 75%;
            font-size: 22px;
            text-align: center;
        }
    }
    .content{
        margin-top: 50px;
        display: flex;
        width: 80%;
        gap: 20px;
        .property-box{
            display: flex;
            flex-direction: column;
            height: 500px;
            width: calc((100% - (20px * 2)) / 3);
            border-radius: 25px;
            .img-background{
                border-radius: 25px 25px 0 0;
                background-size: 100%;
                background-position: center;
                height: 50%;
                position: relative;
                transition: 0.25s;
                .img-elements:first-child{
                    background-color: var(--main-color);
                    color: white;
                    font-size: 14px;
                    width: fit-content;
                    padding: 3px 15px;
                    border-radius: 25px;
                    position: absolute; left: 15px; top: 15px;
                }
                .img-elements:nth-child(2){
                    background-color: white;
                    color: rgb(100, 100, 100);
                    width: fit-content;
                    padding: 10px;
                    border-radius: 25px;
                    position: absolute; right: 15px; top: 15px;
                    svg{
                        width: 18px;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                    &:hover svg{
                        color: red;
                    }
                }
                .img-elements:last-child{
                    background-color: rgba(25, 25, 25, 0.7);
                    color: white;
                    font-size: 14px;
                    width: fit-content;
                    padding: 3px 15px;
                    border-radius: 25px;
                    position: absolute; left: 15px; bottom: 15px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    svg{
                        width: 15px;
                    }
                }
            }
            .text-part{
                border-radius: 0 0 25px 25px;
                height: 50%;
                display: flex;
                flex-direction: column;
                padding: 15px;
                gap: 5px;
                .lines{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                }
                .lines:first-child{
                    h1{
                        color: var(--main-color);
                        font-size: 30px;
                        font-weight: 700;
                    }
                }
                .lines:last-child{
                    display: flex;
                    .tour-agent{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        img{
                            width: 35px;
                            height: 50%;
                            border-radius: 50%;
                        }
                    }
                    .btn{
                        background-color: var(--light-main-color);
                        color: var(--main-color);
                        &:hover{
                            background-color: rgb(221, 214, 255);
                        }
                    }
                }
            }
        }
        .property-box:first-child{
            .img-background{
                background-image: url(/Images/featured-properties-img-1.png);
            }
        }
        .property-box:nth-child(2){
            .img-background{
                background-image: url(/Images/featured-properties-img-2.png);
                .img-elements:first-child{
                    background-color: var(--main-green);
                }
            }
        }
        .property-box:last-child{
            .img-background{
                background-image: url(/Images/featured-properties-img-3.png);
                .img-elements:first-child{
                    background-color: var(--main-orange);
                }
            }
        }
        .property-box:hover{
            cursor: pointer;
        }
        .property-box:hover .img-background{
            background-size: 110%;
        }
    }
    .view-btn{
        background-color: var(--main-color);
        padding: 15px 35px;
        border-radius: 10px;
        color: aliceblue;
        font-size: 18px;
        font-weight: 700;
        margin-top: 48px;
        svg{
            width: 15px;
        }
        &:hover{
            cursor: pointer;
            background-color: rgb(109, 37, 177);
        }
    }
}