*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    svg{
        width: 10px;
    }
    img{
        width: 100px;
    }
}

:root{
    --main-color: rgb(124, 58, 237);
    --light-main-color:rgb(237, 233, 254);
    --main-orange:rgb(208, 135, 0);
    --light-main-orange:rgb(254, 249, 194);
    --main-green:rgb(0, 166, 62);
    --light-main-green:rgb(219, 252, 231);
    --main-blue:rgb(79, 57, 246);
    --light-main-blue:rgb(224, 231, 255);
    --main-border-style: 1px solid rgba(70, 70, 70, 0.1);
}



.navbar-container{
    background-color: white;
    position: relative;
    z-index: 10;
    .navbar{
        .container-lg{
            .navbar-brand{
                font-weight: 700;
                font-size: 24px;
            }
            .collapse{
                .navbar-nav{
                    display: flex;
                    gap: 30px;
                    .nav-item{
                        .nav-link{
                            position: relative;
                            padding: 0 !important;
                        }
                        .nav-link:hover{
                            color: var(--main-color);
                        }
                        .nav-link:hover::after{
                            width: 100%;
                        }
                        .nav-link::after{
                            content: '';
                            width: 0;
                            height: 2px;
                            position: absolute;left: 0; bottom: -10px;
                            background-color: var(--main-color);
                            transition: 0.50s;
                        }
                        
                        .nav-link.active{
                            background-color: transparent !important;
                            color: var(--main-color);
                            font-weight: 700;
                        }
                        
                        .nav-link.active::after{
                            width: 100%;
                        }
                    }
                    .nav-item:nth-child(2){
                        position: relative;
                        .nav-link::after{
                            content: none !important;
                        }
                        .nav-link::before{
                            content: '' !important;
                            width: 0 !important;
                            height: 2px !important;
                            background-color: var(--main-color);
                            position: absolute; bottom: -10px; left: 0;
                            transition: 0.50s;
                        }
                        .nav-link:hover::before{
                            width: 100% !important;
                        }
                        .nav-link.show{
                            color: var(--main-color);
                            font-weight: 700;
                        }
                        .nav-link.show::before{
                            width: 100% !important;
                        }
                        .dropdown-menu{
                            width: 1250px;
                            position: absolute; left: -900px; top: 40px;
                            border: none;
                            height: fit-content;
                            .inner-dropdown-menu{
                                width: 100%;
                                height: 100%;
                                li:first-child{
                                    width: 25%;
                                    .main-columns{
                                        .property-box:hover{
                                            cursor: pointer;
                                        }
                                    }
                                    img{
                                    width: 70px;
                                    height: 60px;
                                }
                                }
                                li:nth-child(2){
                                    width: 25%;
                                    .main-columns{
                                        div{
                                            align-items: center;
                                            p{
                                                margin: 0;
                                            }
                                            svg{
                                                width: 20px;
                                                color: gray;
                                            }
                                        }
                                        div:hover{
                                            cursor: pointer;
                                        }
                                        div:hover .p-links{
                                            color: var(--main-color);
                                        }
                                    }
                                }
                                li:nth-child(3){
                                    width: 25%;
                                    .main-columns{
                                        .cities-boxes{
                                            color: aliceblue;
                                            width: 250px;
                                            height: 70px;
                                            background-position: center;
                                            background-size: cover;
                                            padding-top: 1px;
                                            border-radius: 15px;
                                            .background-color{
                                                width: 100%;
                                                height: 100%;
                                                background-color: rgba(124, 58, 237, 0.6);
                                                margin: 0;
                                                padding-top: 1px;
                                                border-radius: 15px;
                                            }
                                            h4{
                                                margin: 0;
                                                margin-top: 10px;
                                                margin-left: 10px;
                                                font-size: 20px;
                                                font-weight: 700;
                                            }
                                            p{
                                                margin: 0;
                                                margin-top: 2px;
                                                margin-left: 10px;
                                                font-size: 14px;
                                            }
                                        }
                                        .cities-boxes:nth-child(2){
                                            background-image: url(/Images/new-york.jpeg);
                                        }
                                        .cities-boxes:nth-child(3){
                                            background-image: url(/Images/los-angeles.jpeg);
                                        }
                                        .cities-boxes:nth-child(4){
                                            background-image: url(/Images/miami.jpeg);
                                        }
                                        .cities-boxes:hover{
                                            cursor: pointer;
                                        }
                                        .cities-boxes:hover .background-color{
                                                                                    background-color: rgba(164, 112, 255, 0.7);
                                        }
                                    }
                                }
                                li:nth-child(4){
                                    width: 25%;
                                    .resources-boxes{
                                        width: 100%;
                                        border: 1px solid lightgray;
                                        border-radius: 15px;
                                        padding: 25px;
                                        .icon-title{
                                            align-items: center;
                                            .icon{
                                                padding: 10px;
                                                background-color: gray;
                                                border-radius: 50%;
                                                svg{
                                                    width: 20px;
                                                }
                                            }
                                        }
                                        a{
                                            text-decoration: none;
                                            color: black;
                                            svg{
                                                width: 14px;
                                                margin-left: 5px;
                                                transition: 0.25s;
                                            }
                                        }
                                    }
                                    .resources-boxes:hover{
                                        cursor: pointer;
                                    }
                                    .resources-boxes:hover .learn-more{
                                        svg{
                                            transform: translate(5px, 0);
                                        }
                                    }
                                    .resources-boxes:nth-child(2), .resources-boxes:nth-child(4){
                                        .icon-title{
                                            .icon{
                                                background-color: var(--light-main-color);
                                                svg{
                                                    color: var(--main-color) !important;
                                                }
                                            }
                                        }
                                        a{
                                            color: var(--main-color);
                                            svg{
                                                color: var(--main-color);
                                            }
                                        }
                                    }
                                    .resources-boxes:nth-child(2):hover .icon-title>h5, .resources-boxes:nth-child(4):hover .icon-title>h5{
                                        color: var(--main-color);
                                    }
                                    .resources-boxes:nth-child(3){
                                        .icon-title{
                                            .icon{
                                                background-color: var(--light-main-green);
                                                svg{
                                                    color: var(--main-green) !important;
                                                }
                                            }
                                        }
                                        a{
                                            color: var(--main-green);
                                            svg{
                                                color: var(--main-green);
                                            }
                                        }
                                    }
                                    .resources-boxes:nth-child(3):hover .icon-title>h5{
                                        color: var(--main-green);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.main-background{
    background-image: url(/Images/hero-bg-img.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1;
}


.home{
    padding-top: 200px;
    background-color: rgba(77, 30, 156, 0.7);
    height: 100vh;
    position: relative;
    z-index: 3;
    .title-box{
        width: 40%;
        color: aliceblue;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1{
            font-family: sans-serif;
            font-weight: 700;
            font-size: 60px;
        }
        p{
            font-size: 22px;
        }
    }
    .requirement-box{
        background-color: white;
        width: 50%;
        padding: 20px;
        border-radius: 15px;
        row-gap: 20px;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .normal-inp-box:first-child{
            div{
                width: 100%;
                position: relative;
                svg{
                    position: absolute;left: 15px;top: 16px;
                    width: 15px;
                    color: gray;
                }
                input{
                    width: 100%;
                    padding: 15px 50px;
                    border: 1px solid lightgray;
                    border-radius: 15px;
                }
            }
        }
        .normal-inp-box{
                input{
                    width: 100%;
                    padding: 15px;
                    border: 1px solid lightgray;
                    border-radius: 15px;
                    &:focus{
                        outline: 4px var(--main-color);
                        outline-style: double;
                    }
                }
        }
        .select-box{
            select{
                padding: 15px;
                background-image: none;
                border-radius: 15px;
                    &:focus{
                        outline: 4px var(--main-color);
                        outline-style: double;
                    }
            }
        }
        .search-btn{
            background-color: var(--main-color) !important;
            color: aliceblue;
            font-size: 18px;
            font-weight: 700;
            padding: 15px;
            svg{
                width: 20px;
            }
            &:hover{
                background-color: rgb(105, 57, 187) !important;
            }
        }
    }

}


.featured-properties{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title-box{
        .premium-collection{
            color: var(--main-color);
            .line{
                height: 3px;
                width: 80px;
            }
            .line:first-child{
                border-radius: 100% 0 0 100%;
                background: linear-gradient(to left, var(--main-color), var(--main-color), var(--main-orange), white);
            }
            .line:nth-child(3){
                border-radius: 0 100% 100% 0;
                background: linear-gradient(to right, var(--main-color), var(--main-color), var(--main-orange), white);
            }
            .title{
                font-size: 20px;
                padding: 10px 25px;
                border-radius: 25px;
                font-size: 15px;
                font-weight: 700;
                border: 1px solid lightgray;
                background-color: var(--light-main-color);
            }
        }
        h1{
            font-size: 50px;
            font-weight: 900;
            background: linear-gradient(to right, var(--main-color), var(--main-color), var(--main-orange));
            background-clip: text;
            color: transparent;
            text-align: center;
        }
        p{
            width: 75%;
            font-size: 22px;
            text-align: center;
        }
    }
    .content{
        margin-top: 50px;
        display: flex;
        width: 80%;
        gap: 20px;
        .property-box{
            display: flex;
            flex-direction: column;
            height: 500px;
            width: calc((100% - (20px * 2)) / 3);
            border-radius: 25px;
            .img-background{
                border-radius: 25px 25px 0 0;
                background-size: 100%;
                background-position: center;
                height: 50%;
                position: relative;
                transition: 0.25s;
                .img-elements:first-child{
                    background-color: var(--main-color);
                    color: white;
                    font-size: 14px;
                    width: fit-content;
                    padding: 3px 15px;
                    border-radius: 25px;
                    position: absolute; left: 15px; top: 15px;
                }
                .img-elements:nth-child(2){
                    background-color: white;
                    color: rgb(100, 100, 100);
                    width: fit-content;
                    padding: 10px;
                    border-radius: 25px;
                    position: absolute; right: 15px; top: 15px;
                    svg{
                        width: 18px;
                    }
                    &:hover{
                        cursor: pointer;
                    }
                    &:hover svg{
                        color: red;
                    }
                }
                .img-elements:last-child{
                    background-color: rgba(25, 25, 25, 0.7);
                    color: white;
                    font-size: 14px;
                    width: fit-content;
                    padding: 3px 15px;
                    border-radius: 25px;
                    position: absolute; left: 15px; bottom: 15px;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    svg{
                        width: 15px;
                    }
                }
            }
            .text-part{
                border-radius: 0 0 25px 25px;
                height: 50%;
                display: flex;
                flex-direction: column;
                padding: 15px;
                gap: 5px;
                .lines{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 0;
                }
                .lines:first-child{
                    h1{
                        color: var(--main-color);
                        font-size: 30px;
                        font-weight: 700;
                    }
                }
                .lines:last-child{
                    display: flex;
                    .tour-agent{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        img{
                            width: 35px;
                            height: 50%;
                            border-radius: 50%;
                        }
                    }
                    .btn{
                        background-color: var(--light-main-color);
                        color: var(--main-color);
                        &:hover{
                            background-color: rgb(221, 214, 255);
                        }
                    }
                }
            }
        }
        .property-box:first-child{
            .img-background{
                background-image: url(/Images/featured-properties-img-1.png);
            }
        }
        .property-box:nth-child(2){
            .img-background{
                background-image: url(/Images/featured-properties-img-2.png);
                .img-elements:first-child{
                    background-color: var(--main-green);
                }
            }
        }
        .property-box:last-child{
            .img-background{
                background-image: url(/Images/featured-properties-img-3.png);
                .img-elements:first-child{
                    background-color: var(--main-orange);
                }
            }
        }
        .property-box:hover{
            cursor: pointer;
        }
        .property-box:hover .img-background{
            background-size: 110%;
        }
    }
    .view-btn{
        background-color: var(--main-color);
        padding: 15px 35px;
        border-radius: 10px;
        color: aliceblue;
        font-size: 18px;
        font-weight: 700;
        margin-top: 48px;
        svg{
            width: 15px;
        }
        &:hover{
            cursor: pointer;
            background-color: rgb(109, 37, 177);
        }
    }
}

.services{
    padding-top: 140px;
    padding-bottom: 140px;
        .title-box{
        .premium-collection{
            color: var(--main-color);
            .line{
                height: 3px;
                width: 80px;
            }
            .line:first-child{
                border-radius: 100% 0 0 100%;
                background: linear-gradient(to left, var(--main-color), var(--main-color), var(--main-orange), white);
            }
            .line:nth-child(3){
                border-radius: 0 100% 100% 0;
                background: linear-gradient(to right, var(--main-color), var(--main-color), var(--main-orange), white);
            }
            .title{
                font-size: 20px;
                padding: 10px 25px;
                border-radius: 25px;
                font-size: 15px;
                font-weight: 700;
                border: 1px solid lightgray;
                background-color: var(--light-main-color);
            }
        }
        h1{
            font-size: 50px;
            font-weight: 900;
            background: linear-gradient(to right, var(--main-color), var(--main-color), var(--main-orange));
            background-clip: text;
            color: transparent;
        }
        p{
            width: 75%;
            font-size: 22px;
            text-align: center;
        }
    }
    .nav-underline{
        width: 60%;
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-top: 48px;
        border-bottom: 1px solid rgb(196, 196, 196);
        .nav-item{
            .nav-link{
                color: rgb(49, 49, 49);
                padding: 15px;
                svg{
                    width: 15px;
                    margin-right: 5px;
                }
                &:hover{
                    color: var(--main-color);
                }
            }
            .nav-link.active{
                color: var(--main-color);
                background-color: var(--light-main-color);
            }
        }
    }
    .tab-content{
        width: 60%;
        margin-top: 40px;
        .tab-pane{
            .inner-container{
                display: flex;
                gap: 50px;
                align-items: center;
                .text-side{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    h2{
                        font-weight: 700;
                    }
                    p{
                        font-size: 18px;
                        font-weight: 500;
                        color: rgb(80, 80, 80);
                    }
                    .main-points-boxes{
                        display: flex;
                        gap: 25px;
                        .logo-box{
                            background-color: rgb(218, 218, 218);
                            height: fit-content;
                            padding: 12px;
                            border-radius: 10px;
                            svg{
                                width: 15px;
                                color: rgb(87, 87, 87);
                            }
                        }
                        .text-box{
                            h4{
                                font-size: 22px;
                                font-weight: 700;
                            }
                            p{
                                font-weight: 100;
                                color: rgb(49, 49, 49);
                            }
                        }
                    }
                    .btn{
                        background-color: rgb(218, 218, 218);
                        color: rgb(87, 87, 87);
                        font-weight: 700;
                        width: fit-content;
                        padding: 10px 20px;
                    }
                }
                .img-side{
                    width: 50%;
                    height: 400px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 90%;
                        height: 100%;
                        border-radius: 25px;
                    }
                    .img-text{
                        position: absolute;
                        background-color: white;
                        padding: 25px;
                        border-radius: 15px;
                        h4{
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .tab-pane:first-child{
            .inner-container{
                .text-side{
                    .logo-box{
                        background-color: var(--light-main-color);
                        svg{
                            color: var(--main-color);
                        }
                    }
                    .btn{
                        background-color: var(--main-color);
                        color: aliceblue;
                    }
                }
                .img-side{
                    .img-text{
                        position: absolute; left: 0; bottom: -20px;
                        h4{
                            color: var(--main-color);
                        }
                    }
                }
            }
        }
        .tab-pane:nth-child(2){
            .inner-container{
                .text-side{
                    .logo-box{
                        background-color: var(--light-main-green);
                        svg{
                            color: var(--main-green);
                        }
                    }
                    .btn{
                        background-color: var(--main-green);
                        color: aliceblue;
                    }
                }
                .img-side{
                    .img-text{
                        position: absolute; right: 0; bottom: -20px;
                        h4{
                            color: var(--main-green) !important;
                        }
                    }
                }
            }
        }
        .tab-pane:nth-child(3){
            .inner-container{
                .text-side{
                    .logo-box{
                        background-color: var(--light-main-color);
                        svg{
                            color: var(--main-color);
                        }
                    }
                    .btn{
                        background-color: var(--main-color);
                        color: aliceblue;
                    }
                }
                .img-side{
                    .img-text{
                        position: absolute; left: 0; bottom: -20px;
                        h4{
                            color: var(--main-color);
                        }
                    }
                }
            }
        }
        .tab-pane:nth-child(4){
            .inner-container{
                .text-side{
                    .logo-box{
                        background-color: var(--light-main-orange);
                        svg{
                            color: var(--main-orange);
                        }
                    }
                    .btn{
                        background-color: var(--main-orange);
                        color: aliceblue;
                    }
                }
                .img-side{
                    .img-text{
                        position: absolute; right: 0; bottom: -20px;
                        h4{
                            color: var(--main-orange);
                        }
                    }
                }
            }
        }
        .tab-pane:last-child{
            .inner-container{
                .text-side{
                    .logo-box{
                        background-color: var(--light-main-blue);
                        svg{
                            color: var(--main-blue);
                        }
                    }
                    .btn{
                        background-color: var(--main-blue);
                        color: aliceblue;
                    }
                }
                .img-side{
                    .img-text{
                        position: absolute; left: 0; bottom: -20px;
                        h4{
                            color: var(--main-blue);
                        }
                    }
                }
            }
        }
    }
}

.clients-say{
    background-color: var(--main-color);
    padding-bottom: 150px;
    .title-box{
        margin-bottom: 40px;
        .premium-collection{
            color: var(--main-color);
            .line{
                height: 3px;
                width: 80px;
            }
            .line:first-child{
                border-radius: 100% 0 0 100%;
                background: linear-gradient(to left, var(--main-color), var(--main-orange), rgb(255, 183, 117), var(--main-color));
            }
            .line:nth-child(3){
                border-radius: 0 100% 100% 0;
                background: linear-gradient(to right, var(--main-color), var(--main-orange), rgb(255, 183, 117), var(--main-color));
            }
            .title{
                font-size: 20px;
                padding: 10px 25px;
                border-radius: 25px;
                font-size: 15px;
                font-weight: 700;
                border: 1px solid lightgray;
                background-color: var(--light-main-color);
            }
        }
        h1{
            font-size: 50px;
            font-weight: 900;
            color: white;
        }
        p{
            width: 75%;
            font-size: 22px;
            text-align: center;
            color: white;
        }
    }
    .carousel{
        width: 50%;
        position: relative;
        .carousel-indicators{
            position: absolute; bottom: -100px;
            button{
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
        .carousel-inner{
            .carousel-item{
                .client-box{
                    background-color: aliceblue;
                    padding: 45px;
                    margin: 0 20px;
                    border-radius: 25px;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .ratings-line{
                        display: flex;
                        gap: 15px;
                        svg{
                            width: 20px;
                            color: rgb(255, 185, 0);
                        }
                    }
                    .comment{
                        font-size: 20px;
                    }
                    .client-info{
                        display: flex;
                        gap: 15px;
                        .img-side{
                            img{
                                width: 80px;
                                border-radius: 50%;
                            }
                        }
                        .text-side{
                            display: flex;
                            flex-direction: column;
                            h4{
                                padding-bottom: 5px;
                                font-size: 20px;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
        .carousel-control-prev{
            position: absolute; left: -80px; top: 160px;
            background-color: rgba(255, 255, 255, 0.3);
            color: white;
            padding: 10px;
            border-radius: 50%;
            width: fit-content;
            height: fit-content;
        }
        .carousel-control-next{
            position: absolute; right: -80px; top: 160px;
            background-color: rgba(255, 255, 255, 0.3);
            color: white;
            padding: 10px;
            border-radius: 50%;
            width: fit-content;
            height: fit-content;
        }
    }
}

.questions{
    .title-box{
        margin-bottom: 40px;
        .premium-collection{
            color: var(--main-color);
            .line{
                height: 3px;
                width: 80px;
            }
            .line:first-child{
                border-radius: 100% 0 0 100%;
                background: linear-gradient(to left, var(--main-color), var(--main-color), white);
            }
            .line:nth-child(3){
                border-radius: 0 100% 100% 0;
                background: linear-gradient(to right, var(--main-color), var(--main-color), white);
            }
            .title{
                font-size: 20px;
                padding: 10px 25px;
                border-radius: 25px;
                font-size: 15px;
                font-weight: 700;
                border: 1px solid lightgray;
                background-color: var(--light-main-color);
            }
        }
        h1{
            font-size: 50px;
            font-weight: 900;
            color: var(--main-color);
        }
        p{
            width: 75%;
            font-size: 22px;
            text-align: center;
            color: rgb(51, 51, 51);
        }
    }
    .accordion-button:not(.collapsed){
        background-color: transparent;
        outline: none;
        border: none;
        box-shadow: none;
        color: black;
    }
    .accordion-button:focus{
        background-color: transparent;
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.contact-us{
    padding-top: 150px;
    .title-box{
        .premium-collection{
            color: var(--main-color);
            .line{
                height: 3px;
                width: 80px;
            }
            .line:first-child{
                border-radius: 100% 0 0 100%;
                background: linear-gradient(to left, var(--main-color), var(--main-color), white);
            }
            .line:nth-child(3){
                border-radius: 0 100% 100% 0;
                background: linear-gradient(to right, var(--main-color), var(--main-color), white);
            }
            .title{
                font-size: 20px;
                padding: 10px 25px;
                border-radius: 25px;
                font-size: 15px;
                font-weight: 700;
                border: 1px solid lightgray;
                background-color: var(--light-main-color);
            }
        }
        h1{
            font-size: 50px;
            font-weight: 900;
            background: linear-gradient(to right, var(--main-color), var(--main-color), var(--main-orange));
            background-clip: text;
            color: transparent;
        }
        p{
            width: 75%;
            font-size: 22px;
            text-align: center;
        }
    }
    .contact-ways{
        width: 75%;
        display: flex;
        gap: 20px;
        margin-top: 48px;
        div{
            width: calc((100% - (20px * 3)) / 4);
            display: flex;
            flex-direction: column;
            gap: 15px;
            border: var(--main-border-style);
            padding: 25px;
            border-radius: 25px;
            transition: 0.25s;
            .logo-box{
                background-color: lightgrey;
                width: fit-content;
                height: fit-content;
                padding: 16px 22px;
                border-radius: 15px;
                svg{
                    width: 20px;
                }
            }
            p:last-child{
                font-weight: 700;
            }
            &:hover{
                transform: translate(0, -8px);
                cursor: pointer;
            }
        }
        div:first-child{
            .logo-box{
                background-color: var(--main-color);
                color: white;
            }
            p:last-child{
                color: var(--main-color);
            }
            &:hover{
                border: 1px solid var(--main-color);
            }
        }
        div:nth-child(2){
            .logo-box{
                background-color: rgb(160, 43, 255);
                color: white;
            }
            p:last-child{
                color: rgb(160, 43, 255);
            }
            &:hover{
                border: 1px solid rgb(160, 43, 255);
            }
        }
        div:nth-child(3){
            .logo-box{
                background: linear-gradient(to right bottom,rgb(227, 71, 232), rgb(247, 144, 79));
                color: white;
            }
            p:last-child{
                color: rgb(227, 71, 232);
            }
            &:hover{
                border: 1px solid rgb(227, 71, 232);
            }
        }
        div:nth-child(4){
            .logo-box{
                background-color: var(--main-blue);
                color: white;
            }
            p:last-child{
                color: var(--main-blue);
            }
            &:hover{
                border: 1px solid var(--main-blue);
            }
        }
    }
    .contact-info{
        width: 75%;
        display: flex;
        margin-top: 48px;
        gap: 25px;
        .info-side{
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 25px;
            .info-box{
            padding: 25px;
            border: var(--main-border-style);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            h4{
                font-weight: 700;
            }
            div{
                display: flex;
                gap: 25px;
                align-items: center;
                margin-left: 10px;
                .logo-box{
                    svg{
                        width: 15px;
                    }
                }
                .text-box{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 0;
                    h5{
                        font-size: 18px;
                        font-weight: 700;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
            div:nth-child(2){
                .logo-box{
                    svg{
                        color: var(--main-color);
                    }
                }
            }
            div:nth-child(3){
                .logo-box{
                    svg{
                        color: var(--main-color);
                    }
                }
                .text-box{
                    p:hover{
                        cursor: pointer;
                    }
                }
            }
            div:nth-child(4){
                .logo-box{
                    svg{
                        color: rgb(230, 0, 118);
                    }
                }
                .text-box{
                    p:hover{
                        cursor: pointer;
                    }
                }
            }
            div:nth-child(5){
                .logo-box{
                    svg{
                        color: var(--main-blue);
                    }
                }
            }
        }
        .connect-with-us{
            padding: 30px;
            border: var(--main-border-style);
            border-radius: 25px;
            background-color: var(--main-color);
            color: white;
            h4{
                font-weight: 700;
            }
            .logos-box{
                display: flex;
                justify-content: space-around;
                div{
                    background-color: rgb(138, 76, 202);
                    width: 55px;
                    height: 55px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    transition: 0.25s;
                    svg{
                        width: 15px;
                    }
                }
                div:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                    background-color: rgb(156, 102, 209);
                }
            }
            }
        }
        .send-us{
            border: var(--main-border-style);
            border-radius: 25px;
            padding: 25px;
            width: 70%;
            label{
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 5px;
                color: rgb(51, 51, 51);
            }
            input{
                padding: 15px;
                border-radius: 15px;
                outline: none;
                border: 1px solid rgba(124, 124, 124, 0.2);
                &:focus{
                    border: 6px double var(--main-color);
                }
            }
            select{
                padding: 25px;
                border-radius: 15px;
                outline: none;
                height: 55px;
                border: 1px solid rgba(124, 124, 124, 0.2);
                &:focus{
                    border: 6px double var(--main-color);
                }
            }
            textarea{
                padding: 15px;
                border-radius: 15px;
                outline: none;
                border: 1px solid rgba(124, 124, 124, 0.2);
                appearance: none;
                height: 200px;
                resize: none;
                &:focus{
                    border: 6px double var(--main-color);
                }
            }
            .checkbox-container{
                background-color: var(--light-main-color);
                padding: 5px 15px;
                border-radius: 15px;
                label{
                    font-weight: 100;
                    margin-left: 20px;
                }
                input{
                    background-color: var(--main-color);
                    accent-color: var(--main-color);
                    transform: scale(1.5);
                }
            }
            .send-btn{
                background-color: var(--main-color);
                color: aliceblue;
                font-size: 20px;
                font-weight: 500;
                padding: 20px;
                border-radius: 15px;
                transition: 0.25s;
                svg{
                    width: 20px;
                }
                &:hover{
                    transform: translate(0, -5px);
                }
            }
        }
    }
}

footer{
    background-color: rgb(86, 23, 144);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    padding: 48px;
    .footer-inner{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 75%;
        .upper-part{
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            .logos-box{
                display: flex;
                gap: 40px;
                div{
                    background-color: rgb(118, 33, 197);
                    height: 45px;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 10px;
                    transition: 0.25s;
                    &:hover{
                        cursor: pointer;
                        background-color: rgb(137, 58, 211);
                        transform: scale(1.2);
                    }
                }
                svg{
                    width: 15px;
                }
            }
        }
        .line{
            height: 1px;
            width: 100%;
            background-color: rgba(235, 235, 235, 0.1);
        }
        .lower-part{
            text-align: center;
            svg{
                color: red;
                width: 15px;
            }
        }
    }
}